body, html {
    margin: 0;
    padding: 0;
}


.container {
    background-color: #20242b;
    width: 55%;
    margin: 70px auto;
    padding: 20px;
    border-radius: 20px;
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    justify-items: center;
}


.month {
    width: 100%;
    height: 132px;
    margin-bottom: 10px;
    display: grid; 
    grid-template-columns: repeat(7, 1fr);
}

.monthcontainer{
    width: 95%;
    height: 150px;
    margin-bottom: 10px;
    text-align: center;
}

.monthtext{
    font-weight: bold;
    font-size: large;
    font-family: Arial, sans-serif;
    user-select: none;
    color: #BFB2C8;
}


.days{
    width: 80%;
    height: 20px;
    background-color: #A7A7A7;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid transparent;
    transition: background-color 1s;
    transition: transform 0.3s ease;
}

#filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #16181c;
    opacity: 80%;
    top: 0px;
    left: 0px; 
}

.text{
    color: #BFB2C8;
    text-align: center;
    font-size: 50px;
    margin: 0;
}

#filtertextbox {
    position: absolute;
    top: 30%;
    left: 50%; 
     /* Translate the element back by half of its own width and height */
    transform: translate(-50%, -50%);
    align-items: center; 
    justify-content: center
}

#button {
    position: absolute;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    margin-left: 56%; /* Center the button horizontally */
    margin-top: 13%; /* Center the button horizontally */
    background-image: url('/static/images/con_with_strava.png');
    background-size: cover;
    background-position: center;
    border: none;
    outline: none;
    cursor: pointer;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #16181C;
    top: 0;
    left: 0;

    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center;

    color: #BFB2C8;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, sans-serif;
}