.words {
    color: #BFB2C8;
    text-align: center;
}


.container {
    background-color: #f0f0f0;
    width: 55%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    justify-items: center;
}

#statscontainer {
    width: 65%;
    height: 140px;
    margin: 30px auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 20px;
    justify-items: center;
}

.month {
    width: 100%;
    height: 132px;
    margin-bottom: 10px;
    display: grid; 
    grid-template-columns: repeat(7, 1fr);
}

.monthcontainer{
    width: 95%;
    height: 150px;
    margin-bottom: 10px;
    text-align: center;
}

.monthtext{
    font-weight: bold;
    font-size: large;
    font-family: Arial, sans-serif;
}


.days{
    width: 80%;
    height: 20px;
    background-color: #A7A7A7;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid transparent;
    transition: background-color 1s;
    transition: transform 0.3s ease;

}

.days:hover {
    transform: scale(1.1);
}

.lvl1green{
    background-color: #9CD4A4;
}

.lvl2green{
    background-color: #5D9F59;
}

.lvl3green{
    background-color: #396929;
}

.lvl4green{
    background-color: #1D340B;
}

#moreinfodiv {
    position: absolute;
    top: 90px;
    left: 0px; 
    width: 200px;
    height: 200px;
    background-color: #DEDEDE;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }