<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strava Visualizer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/strava.css') }}">
    <script defer src="{{ url_for('static', filename='js/strava.js') }}"></script>
    <style>
        body {
            background-color: #2C282F;
        }
    </style>
</head>
<body>
    <button id="authbutton">Authorize Test Button!</button>
    <button id="displaybutton"  >Print new text button</button>
    <h1 class="words">365 Days of Misery</h1>
    <div id="moreInfoDiv">MoreINFO!!</div>
    <div class="container">
        <div class="monthcontainer">
            <div id = "1" class="month">
                <div class="days "></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
                <div class="days"></div>
            </div>
        </div>
        
        <div id = "2" class="month">
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
        </div>
        <div id = "3" class="month">
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>

        </div>
        <div id = "4" class="month">
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
        </div>
        <div id = "5" class="month">
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
        </div>
        <div id = "6" class="month">
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
        </div>
        <div id = "7" class="month">
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
        </div>
        <div id = "8" class="month">
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
        </div>
        <div id = "9" class="month">
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
        </div>
        <div id = "10" class="month">
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
        </div>
        <div id = "11" class="month">
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
        </div>
        <div id = "12" class="month">
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
            <div class="days"></div>
        </div>
    </div>
    <div id="statscontainer">
        <p1 id='statstext'>Statistics</p1>

    </div>
</body>

</html>